body {
    font-family: 'Arial', sans-serif;
    background-color: #A1D1B1;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 1.875rem;
    font-weight: 600;
    color: #085ed6; 
  }
  
  .grid {
    display: grid;
    gap: 1.25rem;
  }
  
  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
  }
  
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
  }
  
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .bg-white {
    background-color: #238698;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow {
    box-shadow: 0 1px 3px rgba(255, 35, 35, 0.1), 0 1px 2px rgba(181, 117, 117, 0.06);
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .pt-5 {
    padding-top: 1.25rem;
  }
  
  .pb-12 {
    padding-bottom: 3rem;
  }
  
  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .sm\:pt-6 {
    padding-top: 1.5rem;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .text-gray-500 {
    color: #000000;
  }
  
  .text-gray-900 {
    color: #020202;
  }
  
  .bg-blue-500 {
    background-color: #24bde7;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .text-green-600 {
    color: #16a34a; 
  }
  
  .text-red-600 {
    color: #dc2626;
  }
  .bg-blue-500{
    background-color: #539e6c;
  }
  
    